h1, h2, h3, h4, #toctitle {
  font-family: sans-serif;
  font-weight: bold !important;
}

html, body, [data-id="toc"] ul {
  font-family: sans-serif !important;
}

/* disable zebra stripes */
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: unset
}

@page :first {
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-image: url("../images/logo.svg");
}

@page:left {
  @bottom-right {
    content: "Page " counter(page);
  }
}

@page:right {
  @bottom-left {
    content: "Page " counter(page);
  }
}

/* move the book title to the correct location */
#cover > h1 {
  color: black;
  text-align: left;
  margin-top: -20cm;
}
